<!DOCTYPE html>
<html>
  <head>
    <title>Orçamentos</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <style>
      html {
        font-family: sans-serif;
        font-size: 10px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      tr, th, td {
        padding: 8px;
        border: 1px solid #dddddd;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .numero {
        text-align: right;
      }

      #root {
        margin: auto;
        max-width: 70%;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço por unidade</th>
            <th>Unidade</th>
            <th>Tipo de Unidade</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody id="lista">
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">TOTAL:</td>
            <td id="resultado"</td>
          </tr>
        </tfoot>
      </table>
      <button id="reset_btn">Zerar</button>
      <p><a href="/">Home</a></p>
      <p><a href="/catalogo">Versão sem JavaScript</a></p>
    </div>
  </body>
  <script>
    // helper function
    cnf = document.createElement.bind(document)

    // globals
    lista = document.getElementById('lista')
    resultado = document.getElementById('resultado')
    resultado.className = "numero"

    function updateResult(catalogo) {
    	var total = 0
    	for (let p of Object.values(catalogo)) {
    	  if (p.num > 0) total += p.num*p.preco
    	}
    	resultado.textContent = "$ "+total
    }

    function addItem(produto, catalogo) {
        catalogo[produto.id] = produto
        
        var newp = cnf("tr")
        var nome = cnf("td")
        var descricao = cnf("td")
        var preco = cnf("td")
        var valor_unidade = cnf("td")
        var tipo_unidade = cnf("td")
        var quant = cnf("td")
        var input = cnf("input")
        
        nome.textContent = produto.nome
        descricao.textContent = produto.descricao
        preco.textContent = "$ "+produto.preco
        preco.className = "numero"
        tipo_unidade.textContent = produto.tipo_unidade
        valor_unidade.textContent = produto.valor_unidade
        valor_unidade.className = "numero"

        input.type = "number"
        input.min = "0"
        input.value = "0"
        input.id = "pid-"+produto.id
        input.className = "numero"
        input.onchange = function() {
            catalogo[produto.id].num = input.value
            updateResult(catalogo)
        }

        quant.appendChild(input)

        newp.appendChild(nome)
        newp.appendChild(descricao)
        newp.appendChild(preco)
        newp.appendChild(valor_unidade)
        newp.appendChild(tipo_unidade)
        newp.appendChild(quant)

        lista.appendChild(newp)
    }

    function buildList(produtos) {
        for (let p of produtos) addItem(p, catalogo)
    }

    function getItems(url, catalogo) {
        fetch(url)
        .then(function(data) {return data.json()})
        .then(function(produtos){buildList(produtos, catalogo)})
    }

    function reset() {
        for (let p of Object.values(catalogo)) {
            p.num = 0
        }
        updateResult(catalogo)
    }

    var catalogo = {}
    var url = '/restapi/produto'
    var rst_btn = document.getElementById("reset_btn")

    getItems(url, catalogo)
    updateResult(catalogo)
    rst_btn.addEventListener("click", reset)

  </script>
</html>