<!DOCTYPE html>
<html>
    <head>
        <title>Orçamentos</title>
    </head>
    <body>
        <div id="root">
            <table id="catalogo">
                <thead><tr>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Preço por unidade</th>
                    <th>Unidade</th>
                    <th>Tipo de Unidade</th>
                    <th>Quantidade</th>
                </thead></tr>
                <tbody id="catalogo-lista">
                </tbody>
            </table>
        </div>
    </body>
    <script>
        function addItem(produto, catalogo) {
            var cnf = document.createElement.bind(document)
            var newp = cnf("tr")
            var nome = cnf("td")
            var descricao = cnf("td")
            var preco = cnf("td")
            var valor_unidade = cnf("td")
            var tipo_unidade = cnf("td")
            var quant = cnf("td")
            var input = cnf("input")
            
            nome.textContent = produto.nome
            descricao.textContent = produto.descricao
            preco.textContent = produto.preco
            tipo_unidade.textContent = produto.tipo_unidade
            valor_unidade.textContent = produto.valor_unidade

            input.type = "number"
            input.min = "0"
            input.value = "0"
            input.id = "pid-"+produto.id
            quant.appendChild(input)

            newp.appendChild(nome)
            newp.appendChild(descricao)
            newp.appendChild(preco)
            newp.appendChild(valor_unidade)
            newp.appendChild(tipo_unidade)
            newp.appendChild(quant)

            catalogo.appendChild(newp)
        }

        function buildList(produtos, catalogo) {
            for (p of produtos) addItem(p, catalogo)
        }

        function getItems(url, catalogo) {
            fetch(url)
            .then(function(data) {return data.json()})
            .then(function(produtos){buildList(produtos, catalogo)})
        }

        var catalogo = document.getElementById('catalogo-lista')
        var url = '/restapi/produto'
        getItems(url, catalogo)
    </script>
</html>