{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
{% if produtos %}
	<form action="{% url 'orcamentos:orcamento' %}" method="post">
	{% csrf_token %}
	<ul>
	{% for produto in produtos %}
		<li>
		<label>{{ produto }}</label>
		{% if produto.tipo_unidade == 'unidades' %}
		<input type="number" value="0" min="0" step="1" name="{{produto.id}}">
		{% else %}
		<input type="number" value="0" min="0" step="0.1" name="{{produto.id}}">
		{% endif %}
		</li>
	{% endfor %}
	<input type="submit" value="Orçar">
	</form>
{% else %}
	<p>Não há produtos cadastrados</p>
{% endif %}

<p><a href="/">PÁGINA INICIAL</a></p>
